/* stijl.css - labo 3, slogan (reset.css is linked before this file) */

/* === tokens === */
:root {
    --text: #282827;
    --yellow: #fccc00;
    --font-family: Arial; 
}

/* === your rules === */

body{
    color: var(--text);
    font-family: var(--font-family);
    text-align: center;
    padding: 12rem 5rem;
}

h2,p{
    margin-bottom: 1.2rem
}

h2{
    font-size: 5rem;
}

h2 span{
border-bottom: 0.8rem solid var(--yellow);
border-radius: 50%;
}

p{
    line-height: 2rem ;
    margin-bottom: 2.3rem ;
    font-size: 1.5rem;;
}

a{
    background-color: var(--text);
    padding: 0.6rem 1rem;
    border-radius: 0.8rem;
    color: white;
    text-decoration: none;
}