/* stijl.css - labo 3, tabblad (reset.css is linked before this file) */

/* === tokens === */
:root {
--background-color: #ff816f;
--font-family: Arial;
--box-color: white; 
--yellow: #ffd500; 
}

/* === your rules === */

body{
    background-color:#ff816f ;
    font-family: var(--font-family);
    padding: 5rem;
}

h1{
    font-size: 1.5rem;
    border: 0.25rem solid black; 
    background-color: var(--yellow);
    width: 15rem;
    box-shadow: -5px 5px black;
    padding: 0.5rem;
    border-bottom: 0;
}

h2{
    font-size: 3rem;
    border: 0.23rem solid black;
    background-color: var(--box-color);
    width: 35rem; 
    box-shadow: -5px 5px black;
    padding: 2rem;
   
}
