/* stijl.css - labo 3, donut (reset.css is linked before this file) */

/* === tokens === */
:root {
--orange: #ec4b03; 
--yellow: #f9b700;
--purple: #b99ec1; 
--font-family: serif,Georgia;
}

/* === your rules === */
body{
background-color: var(--orange);
font-family: var(--font-family);
text-align:center;
}

h1{
box-sizing: ;
}

ul{
    
}

li {
    height: 20vh;
}

li{
    padding-top: 7vh;
}
